// 颜色定义规范
$color-background : #f5f7fa;
$color-background-d : #fff;
$color-highlight-background : #0366de;
$color-dialog-background : #666;
$color-theme : #fe8504;
$color-theme-d : #FFD100;
$color-theme-l : #5f1212;
$color-sub-theme : #773f1e;
$color-btn : #e4e5e5;
$color-btn-text : #868787;
$color-text : #999; //正文
$color-text-d : #666; //灰
$color-text-l : #333333; //标题
$color-text-ll : #b0adad; //浅灰

//字体定义规范
$font-size-small-s : 10px;
$font-size-small : 12px;
$font-size-medium : 14px;
$font-size-medium-x : 16px;
$font-size-large : 18px;
$font-size-large-x : 22px;
$font-size-large-xx : 24px;